> Projeto Desenvolve <br>
Programação Intermediária com Python <br>
Profa. Camila Laranjeira (mila@projetodesenvolve.com.br) <br>

# 3.6 - Pandas

## Exercícios
Antes de continuar, baixe os arquivos das bases de dados de partidas em Copas do Mundo e salve na mesma pasta deste notebook.
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1930_2022.csv
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1991_2023.csv

A célula a seguir já carrega os dados em CSV e ajusta as colunas para trabalharmos com os nomes traduzidos (como fizemos em aula).

In [39]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 12)

# Carregando os dados
wcwomen_df = pd.read_csv('https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1991_2023.csv')
wcmen_df   = pd.read_csv('https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1930_2022.csv')

# Juntando os dados
wc = pd.concat((wcwomen_df, wcmen_df)).reset_index(drop=True)

# Renomeando as colunas
nomes_traduzidos = {
    'home_team': 'time_1', 'away_team': 'time_2', 'home_score': 'gols_1', 'away_score': 'gols_2',
    'Date': 'data', 'Year': 'ano', 'Host': 'país_sede', 'Attendance': 'comparecimento',
    'Score': 'resultado', 'Round': 'rodada', 'home_goal': 'gols_1_detalhes', 'away_goal': 'gols_2_detalhes',
    'home_own_goal': 'gols_1_contra', 'away_own_goal': 'gols_2_contra',
    'home_penalty_goal': 'gols_1_penalti', 'away_penalty_goal': 'gols_2_penalti',
    'home_red_card': 'cartao_vermelho_1', 'away_red_card': 'cartao_vermelho_2',
    'home_yellow_card_long': 'cartao_amarelo_1', 'away_yellow_card_long': 'cartao_amarelo_2'
}

wc = wc.loc[:, nomes_traduzidos.keys()]
wc.columns = nomes_traduzidos.values()

# Criando a coluna "copa"
wc['copa'] = wc['ano'].apply(lambda x: 'Masculina' if x % 2 == 0 else 'Feminina').astype('string')

#### Q1.
Faça as conversões de tipo necessárias para que a saída do comando `wc.info()` seja como apresentado a seguir. E **salve o novo dataframe** com o comando `df.to_csv('wc_formatado.csv')`.

```
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype         
---  ------             --------------  -----         
 0   time_1             1312 non-null   string        
 1   time_2             1312 non-null   string        
 2   gols_1             1312 non-null   int64         
 3   gols_2             1312 non-null   int64         
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64         
 6   país_sede          1312 non-null   string        
 7   comparecimento     1312 non-null   int64         
 8   resultado          1312 non-null   string        
 9   rodada             1312 non-null   category      
 10  gols_1_detalhes    970 non-null    string        
 11  gols_2_detalhes    771 non-null    string        
 12  gols_1_contra      57 non-null     string        
 13  gols_2_contra      30 non-null     string        
 14  gols_1_penalti     170 non-null    string        
 15  gols_2_penalti     119 non-null    string        
 16  cartao_vermelho_1  59 non-null     string        
 17  cartao_vermelho_2  65 non-null     string        
 18  cartao_amarelo_1   834 non-null    string        
 19  cartao_amarelo_2   857 non-null    string        
 20  copa               1312 non-null   string 
```

In [41]:

wc['time_1'] = wc['time_1'].astype('string')
wc['time_2'] = wc['time_2'].astype('string')
wc['gols_1'] = wc['gols_1'].astype('int64')
wc['gols_2'] = wc['gols_2'].astype('int64')
wc['data'] = pd.to_datetime(wc['data'])
wc['ano'] = wc['ano'].astype('int64')
wc['país_sede'] = wc['país_sede'].astype('string')
wc['comparecimento'] = wc['comparecimento'].astype('int64')
wc['resultado'] = wc['resultado'].astype('string')
wc['rodada'] = wc['rodada'].astype('category')


cols_string = [
    'gols_1_detalhes', 'gols_2_detalhes',
    'gols_1_contra', 'gols_2_contra',
    'gols_1_penalti', 'gols_2_penalti',
    'cartao_vermelho_1', 'cartao_vermelho_2',
    'cartao_amarelo_1', 'cartao_amarelo_2'
]
for col in cols_string:
    wc[col] = wc[col].astype('string')


wc['copa'] = wc['copa'].astype('string')


print(wc.info())


wc.to_csv('wc_formatado.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time_1             1312 non-null   string
 1   time_2             1312 non-null   string
 2   gols_1             1312 non-null   int64
 3   gols_2             1312 non-null   int64
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64
 6   país_sede          1312 non-null   string
 7   comparecimento     1312 non-null   int64
 8   resultado          1312 non-null   string
 9   rodada             1312 non-null   category
 10  gols_1_detalhes    970 non-null    string
 11  gols_2_detalhes    771 non-null    string
 12  gols_1_contra      57 non-null     string
 13  gols_2_contra      30 non-null     string
 14  gols_1_penalti     170 non-null    string
 15  gols_2_penalti     119 non-null    string
 16  cartao_vermelho_1  59 non-null     string
 17  cartao_vermelho_2  65 non-null     string
 18  cartao_amarelo_1   834 non-null    string
 19  cartao_amarelo_2   857 non-null    string
 20  copa               1312 non-null   string
dtypes: category(1), datetime64[ns](1), int64(4), string(15)
memory usage: 206.8 KB
None

#### Q2.
Apresente a linha do dataframe `wc` que corresponde ao jogo com maior audiência da história.

In [43]:

jogo_maior_publico_df = wc[wc['comparecimento'] == wc['comparecimento'].max()]
display(jogo_maior_publico_df)

,time_1,time_2,gols_1,gols_2,data,ano,país_sede,comparecimento,resultado,rodada,gols_1_detalhes,gols_2_detalhes,gols_1_contra,gols_2_contra,gols_1_penalti,gols_2_penalti,cartao_vermelho_1,cartao_vermelho_2,cartao_amarelo_1,cartao_amarelo_2,copa
1238,Uruguay,Brazil,2,1,1950-07-16,1950,Brazil,173850,2–1,Final stage,Juan Alberto Schiaffino · 66|Alcides Ghiggia · 79,Friaça · 47,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Masculina

In [45]:

jogo_maior_publico = wc.loc[wc['comparecimento'].idxmax()]
display(jogo_maior_publico)

time_1                           Uruguay
time_2                            Brazil
gols_1                                 2
gols_2                                 1
data                 1950-07-16 00:00:00
                            ...
cartao_vermelho_1                   <NA>
cartao_vermelho_2                   <NA>
cartao_amarelo_1                    <NA>
cartao_amarelo_2                    <NA>
copa                           Masculina
Name: 1238, Length: 21, dtype: object

#### Q3.
Aplicando operações sobre as colunas `ano` e `copa` do dataframe `wc`, apresente quantas copas femininas e quantas copas masculinas já aconteceram na história.

Exemplo de saída (valores inventados):
```
Masculina: 22
Feminina: 9
```

In [47]:

copas_por_tipo = wc.groupby('copa')['ano'].nunique()
print(copas_por_tipo)

copa
Feminina      9
Masculina    22
Name: ano, dtype: int64

#### Q3. 
Crie um dataframe `participacao` com as colunas `país`, `copa`, e `num_copas` que armazena a quantidade de copas do mundo que cada país participou, informando se é da copa masculina ou feminina. Ao final imprima, como apresentado a seguir, o top 5 países de cada competição que mais participou de copas do mundo.

Exemplo de saída (valores inventados):
```
país            copa        num_copas
Brazil          Feminina    8
Unites States   Feminina    8
Germany         Feminina    8
Japan           Feminina    7
Colombia        Feminina    7
```

```
país            copa        num_copas
Brazil          Masculina   21
Germany         Masculina   21
Argentina       Masculina   20
England         Masculina   20
Mexico          Masculina   20
```

#### Q4. 
* Crie um dataframe `gols` com duas colunas `país` e `total_gols` com o total de gols marcados por cada país durante todas as copas do mundo, juntando gols em casa (`gols_1`) e gols como time visitante (`gols_2`).
* Imprima o dataframe `gols` ordenado de forma decrescente, para que os times com mais gols fiquem no topo.

Segue um exemplo ilustrativo com o formato do dataframe resultado:

```
país        total_gols
Brazil      120
Argentina   112
Germany     107
...
```

In [49]:

gols_casa = wc.groupby('time_1')['gols_1'].sum()


gols_fora = wc.groupby('time_2')['gols_2'].sum()


gols_totais = gols_casa.add(gols_fora, fill_value=0)

gols = gols_totais.reset_index()
gols.columns = ['país', 'total_gols']


gols = gols.sort_values(by='total_gols', ascending=False).reset_index(drop=True)

display(gols)

                   país  total_gols
0                Brazil       308.0
1               Germany       254.0
2         United States       182.0
3                France       180.0
4                Sweden       165.0
..                  ...         ...
87              Bolivia         1.0
88    Dutch East Indies         0.0
89              Vietnam         0.0
90                Zaire         0.0
91  Trinidad and Tobago         0.0

[92 rows x 2 columns]

#### Q5. 
Qual país tomou mais cartões amarelos somando todas as copas?

Neste exercício você vai trabalhar com as colunas `cartao_amarelo_1` e `cartao_amarelo_2` onde cada observação é uma string represetando uma lista dos cartões amarelos de um único jogo na forma `minuto|placar|jogador(a)`. Por exemplo:
```
['16’|1:0|Rosana Gómez', '20’|2:0|Gabriela Chávez]
```

Recomendo criar colunas `num_cartoes_1` e `num_cartoes_2` a partir de cada coluna `cartao_amarelo_X` usando o método genérico `apply` para chamar uma função que você vai criar para transformar uma observação de cartão amarelo em uma contagem de elementos da lista. 

Lembre de levar em consideração que muitas observações são `NaN`. 

Em seguida faça sua mágica para agrupar as informações por país, acumular os cartões de jogos em casa e jogos visitante, e produzir o resultado final como apresentado a seguir (valores inventados):

```
país        cartões amarelos
Argentina   97
England     93
Australia   93
...
```

In [23]:
def contar_cartoes(lista_cartoes):
    if pd.isna(lista_cartoes):  
        return 0
    return len(eval(lista_cartoes))

In [25]:
wc['num_cartoes_1'] = wc['cartao_amarelo_1'].apply(contar_cartoes)
wc['num_cartoes_2'] = wc['cartao_amarelo_2'].apply(contar_cartoes)

In [27]:

cartoes_casa = wc.groupby('time_1')['num_cartoes_1'].sum()
cartoes_fora = wc.groupby('time_2')['num_cartoes_2'].sum()


cartoes_totais = cartoes_casa.add(cartoes_fora, fill_value=0)

cartoes_df = cartoes_totais.reset_index()
cartoes_df.columns = ['país', 'cartoes_amarelos']


cartoes_df = cartoes_df.sort_values(by='cartoes_amarelos', ascending=False).reset_index(drop=True)
display(cartoes_df.head(10))

             país  cartoes_amarelos
0          Brazil             168.0
1       Argentina             162.0
2         Germany             124.0
3     Netherlands             117.0
4           Italy             108.0
5   United States             100.0
6          Mexico              97.0
7          France              97.0
8  Korea Republic              95.0
9         England              92.0

#### Q6.
Qual o top10 jogadores com mais gols em copa? Considere gols em jogo e gols de pênalti.

Para conseguir essa informação, você precisará trabalhar com as colunas:
```
10  gols_1_detalhes         
11  gols_2_detalhes    
14  gols_1_penalti     
15  gols_2_penalti     
```

Essas também são colunas textuais, onde cada observações apresenta todos os gols de uma partida separados pelo caracter `|`. Cada gol está na forma `'Jogador(a) · minuto’'`. Por exemplo:
```
'Alex Morgan · 12’|Rose Lavelle · 20’'
```

Lembre de levar em consideração que muitas observações são `NaN`. 

Recomendo criar um dicionário à parte, onde cada chave será um jogador encontrado nessas colunas do dataframe `wc` e o valor correspondente será a contagem de ocorrências desses nomes.

Em seguida basta converter o seu dicionário em um dataframe e imprimí-lo na forma (valores não são inventados 😁):
```
jogador(a)      num_gols 
Marta           17
Miroslav Klose  16
... 
```